.App>img {
    width: 100%;
    height: 265px;
    object-fit: cover;
}

.about {
    padding: 0 20px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin: 30px 0;
}

.description {
    color: hsl(235, 18%, 26%);
    font-size: 16px;
    font-weight: 400;
    margin: 35px 0;

}

.list {
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    color: hsl(235, 18%, 26%);
    gap: 50px;
}

.list-item {
    display: flex;
}

li img {
    width: 25px;
    height: 25px;
}

.list-info {
    margin: 0 10px;
}

.email-title {
    color: hsl(234, 29%, 20%);
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 20px 0;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    color: hsl(231, 7%, 60%);
}

.button {
    margin: 20px 0;
    display: inline-block;
    padding: 20px 20px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.button:hover {
    background-color: hsl(4, 100%, 67%);
}

.success-congratulations {
    padding: 0 20px;
    position: relative;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.congratulations-img {
    width: 75px;
    height: 75px;
}

.congratulations {
    font-size: 45px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin: 30px 0;

}

.congratulations-description {
    color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-weight: 400;
    flex-grow: 1;
    line-height: 1.5rem;
}

.email {
    font-weight: 700;
}

.invalid-email {
    border: 1px solid red;
}

.error-message {
    font-size: 12px;
    color: red;
    padding-top: 8px;
}

.congratulations-button {
    width: 100%;
    margin: 20px 0;
    display: inline-block;
    padding: 20px 0;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

}

.congratulations-button:hover {
    background-color: hsl(4, 100%, 67%);
}


@media screen and (min-width: 960px) {

    .container {
        background-color: hsl(235, 18%, 26%);
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .App {
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        padding: 0 1.5rem;
    }

    .App>img {
        width: auto;
        object-fit: contain;
        height: 100%;
    }

    .about {
        width: 600px;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        padding: 1rem 0;
        margin: 0;
    }

    .description {
        padding: 1rem 0;
        margin: 0;
    }

    .list {
        padding: 1rem 0;
        gap: 1rem;
        margin: 0;
    }

    .success-congratulations {
        background-color: hsl(0, 0%, 100%);
        width: 500px;
        height: 450px;
        border-radius: 25px;
    }

    .congratulations-img {
        padding: 1rem 0;
        margin: 0;
    }

    .congratulations {
        padding: 1rem 0;
        margin: 0;
    }
}